/*CSS FÖR CONTACT US-SIDAN */
.contactpage-contet{
    color: black;
    background-color: white;
}
#contactpage-headline{
    text-align: center;
}
#companyinfo{
    text-align: center;
}
#employeeinfo{
    text-align: center;
}

#photographerinfo{
    position: relative;
    text-align: center;
}
#contenteditorinfo{
    text-align: center;
}
