/*CSS för applikationens footer */
.footer{
    height: 40px;
    width: 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    bottom:  0%;
}
.footercontent{
    width: 100%;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
}